* {
    cursor: url(http://ani.cursors-4u.net/games/gam-16/gam1535.cur), auto !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Code Pro', sans-serif;
    /*
    margin-block-start: 0;
    margin-block-end: 0;
*/
}

p {
    font-size: 24px;
    margin: 0;
}


@media only screen and (min-width: 768px) {
    p {
        font-size: 30px;
    }
}

h1 {
    text-transform: uppercase;
}

.text-lb {
    color: red;
}

.text-ba {
    color: tomato;
}

.text-ko {
    color: mediumblue;
}

.text-ou {
    color: dodgerblue;
}

.text-kl {
    color: gold;
}

@media only screen and (min-width: 768px) {
    body {
        margin-left: 25%;
    }
}

#timeline {
    /*
    display: grid;
    grid-auto-rows: 1fr;
*/
}

.timeline-row,
.timeline-event-container {
    grid-gap: 25px;
}

.timeline-row {
    display: grid;
    grid-template-columns: auto 4fr;
    border-top: 1px #dddddd solid;
    padding-top: 25px;
    padding-bottom: 30px;
}

.timeline-year-container {}

.timeline-year {}

.timeline-month {
    /*    color: lightgrey;*/
}

.timeline-event-container {
    display: grid;
    grid-template-columns: auto 4fr;
}

.timeline-event {}

@media only screen and (min-width: 768px) {

    .timeline-row,
    .timeline-event-container {
        grid-gap: 50px;
    }

    .timeline-row {
        padding-top: 50px;
        padding-bottom: 60px;
    }
}
